/* =================================
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
html {
  height: 100%;
}
body {
	min-height: 100%;
	position: relative;
  display: flex;
  flex-direction: column;
	margin: 0;
	padding-bottom: 150px;
}
footer {
	width: 100vw;
	position: absolute;
	bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
button,
input {
	outline: none;
	border: 0;
	font-size: 20px;
	width: 140px;
	padding: 0;
}
button {
	width: 44px;
	background: none;
}
a {
	text-decoration: none;
}
.cartArea {
	position: relative;
}
.cart_counter {
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
	background-color: red;
	color: #fff;
	position: absolute;
	right: 0;
	top: 2px;
	text-align: center;
	display: none;
}
.container{
	width: 100px;
	text-align: center;
	position: relative;
}
.item1{
	cursor:pointer;
	position: absolute;
	right: 0;
}
.item2{
	display: none;
	font-size: 16px;
	color: #505050;
	background-color: #F0F0F0;
	position: absolute;
	right: 0;
	top: 70px;
	width: 100%;
	text-align: center;
}
.member_Information {
	display: none;
}
.item2 div {
	line-height: 16px;
	margin: 10px 0;
}
.item2 hr {
	margin: 10px 0 0 0;
}

/* =================================
  Header
==================================== */
.removeit {
	display: none;
}
.pureSearch {
	display: none;
}
.webSearchInput {
	display: none;
}
.frame_logo {
    height: 40px;
    width: 230px;
    position: relative;
		margin: auto;
}
.btn_logo01 {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
		object-fit: contain;
}
.saparation {
	border-left: 1px solid #828282;
	border-right: 1px solid #828282;
	display: inline-block;
	margin-left: -1px;
	margin-right: -1px;
}
.headicon {
	position: absolute;
	top: 30px;
	right: 10px;
}
.main-nav {
	display: none;
}
.main-nav li {
	width: 150px;
	height: 28px;
	font-family: PingFangTC;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 30px;
	text-align: center;
}
.main-nav a {
	text-align: center;
	text-decoration: none;
	color: #3f3a3a;
}
.main-nav a:hover {
	color: #8b572a;
}
.headline div {
	height: 22px;
	margin: auto;
	flex-grow: 1;
}
.headline a {
	text-decoration: none;
	color: #828282;
	margin: auto;
}
.headline a:hover {
	color: #fff;
}
.headline {
	display: flex;
	justify-content: space-around;
	margin-top: 52px;
	width: auto;
	height: 50px;
	background-color: #313538;
	text-align: center;
}
.mobileSearchBar {
	height: 50px;
	width: 100vw;
	position: fixed;
	top: 52px;
	background-color: #313538;
	display: none;
	z-index: 4;
}
.moSearchInput {
	background: none;
	border-bottom: 1px solid #828282;
	flex-grow: 1;
	margin: 5px 5px 5px 15%;
	color: #fff;
}
.searchText {
	color: #828282;
	background: none;
	width: auto;
	margin: 5px;
}
.mobileSearchBar button {
	color: #828282;
	font-size: 30px;
	width: 30px;
	margin-bottom: 8px;
}
.mainhead {
	background-color: white;
	width: 100vw;
	height: 52px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}
.mainhead,
.headicon,
.footicon,
.footer-navicon {
	display: flex;
}
.btn_search {
	position: fixed;
	top: 4px;
	right: 10px;
}
.btn_web_shopping-cart01,
.btn_member01 {
	display: none;
}




/* =================================
  Ｃontent
==================================== */
.productItem {
	margin: 5px;
	width: 40%;
	height: calc(95vw*0.4*1.9);
}
.frame_pic {
    height: 70%;
    width: 100%;
    position: relative;
}
.productImg {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.frame_information {
    height: 27%;
    width: 100%;
    position: relative;
		line-height: 1;
		font-family: NotoSansCJKtc;
  	font-size: 0.8em;
		letter-spacing: 2.4px;
  	text-align: left;
  	color: #3f3a3a;
}
.colorGroup {
	display: flex;
}
.colorblock {
	width: 12px;
	height: 12px;
	margin: 8px 6px 0 0;
}

/* =================================
  Foot
==================================== */
.mobile_cart_icon,
.mobile_member_icon {
	margin-top: -7px;
}
.footbars {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 60px;
	background-color: #313538;
}
.footbars div {
	display: flex;
}
.footbars a {
	text-decoration: none;
	margin: auto;
}
.footbar1,
.footbar2 {
	width: 50%;
	height: 30px;
	text-align: center;
	margin: auto;
	display: flex;
}
.footbar1 {
	border-left: 1px solid #828282;
	border-right: 1px solid #828282;
	margin-left: -1px;
	margin-right: -1px;
}
.footbartext {
	width: 48px;
	height: 22px;
	font-family: PingFangTC;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	position: relative;
	bottom: 16px;
}
.mainFooter {
	background-color: #313538;
	height: 110px;
  margin: 6px 0 50px 0;
	display: flex;
	flex-direction: column;
}
.footer-nav {
	width: 168px;
	height: 68px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 10px 40px 0 40px;
}
.footer-nav a{
  width: auto;
  height: 20px;
	margin-right: 36px;
	margin-bottom: 8px;
  font-family: PingFangTC;
  font-size: 14px;
  color: #ffffff;
	text-decoration: none;
}
.footer-nav a:hover {
	color: #c49871;
}
.line_icon,
.twitter_icon,
.fb_icon {
width: 20px;
height: 20px;
margin-right: 14px;
}
.footicon {
	margin-top: 30px;
}
small {
  font-family: PingFangTC;
  font-size: 10px;
  color: #828282;
	margin: 0 auto;
}

/* =================================
  Media Queries
==================================== */
@media (min-width: 501px) {
	.frame_logo {
		height: 52px;
		width: 230px;
	}
	.smaller {
		font-size: 12px;
	}
	/* ===================== */
	.productItem {
		height: 67vw;
		margin: 10px;
	}
	/* ===================== */
	.mainFooter {
		margin-bottom: 60px;
		height: auto;
		padding: 0.4em 0;
	}
	.footer-navicon {
		flex-direction: column;
	}
	.footer-nav {
		width: auto;
		height: auto;
		flex-direction: row;
		margin: 0;
		justify-content: center;
	}
	.footer-nav li {
		text-align: center;
		width: 80px;
		height: 20px;
		margin: 0;
	}
	.footer-nav a{
	  width: auto;
		margin: 0;
	}
	.footicon {
		margin: 0;
		justify-content: center;
	}
	.line_icon,
	.twitter_icon,
	.fb_icon {
		margin: 8px 8px 0 8px;
	}
}
@media (min-width: 801px) {
	.cart_counter {
		display: initial;
	}
	.frame_logo {
			height: 48px;
			width: 258px;
			margin: auto 60px;
	}
	.smaller {
		font-size: 15px;
	}
	/* ===================== */
	.productItem {
		height: 44.3vw;
		width: 28%;
		margin: 15px;
		font-size: 1.2em;
	}
	.colorblock {
		width: 18px;
		height: 18px;
		margin: 10px 8px 0 0;
	}
	/* ===================== */
	.footbars {
		display: none;
	}
	.mainFooter {
		margin-bottom: auto;
		padding: 1em 0;
	}
	.btn_search,
	.btn_web_shopping-cart01,
	.btn_member01 {
		display: flex;
		width: 44px;
		height: 44px;
		margin-right: 30px;
	}
	.btn_web_shopping-cart01 {
		margin-right: 0;
	}
	.pureSearch {
		display: initial;
	}
	.openSearchBar {
		display: none;
	}
	.searchbar {
		width: 210px;
		height: 44px;
		border-radius: 50px;
		border: 1px solid #828282;
		margin-top: 0;
		margin-right: 30px;
		display: flex;
		justify-content: flex-end;
	}
	.mobileSearchBar {
		display: none;
	}
	.webSearchInput {
		display: initial;
	}
	.btn_search {
		position: static;
		margin-right: 5px;
	}
	.mainhead {
		height: 100px;
	}
	.headline {
		margin-top: 100px;
	  height: 40px;
	}

	.footer-nav li {
		text-align: center;
		width: 100px;
		height: 20px;
		margin: 0;
	}
	.saparation_f {
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		margin-left: -1px;
		margin-right: -1px;
	}
	.footer-navicon {
		flex-direction: row;
		justify-content: center;
	}
	.footicon {
		margin-left: 30px;
	}
	.line_icon,
	.twitter_icon,
	.fb_icon {
		width: 25px;
		height: 25px;
		margin: 0 7px;
	}
}

@media (min-width: 1201px) {
	.mobile-main-nav {
		display: none;
	}
	.headline {
		margin-top: 100px;
		height: 40px;
	}
	.main-nav,
	.main-nav li {
		display: flex;
	}
	.main-nav {
		margin-left: -40px;
	}
	.main-nav li {
		padding-left: 30px;
		margin-top: auto;
		margin-bottom: auto;
	}
	.main-nav a {
		flex-grow: 1;
	}
	.saparation {
		border-left: 1px solid #3f3a3a;
		border-right: 1px solid #3f3a3a;
		margin-left: -1px;
		margin-right: -1px;
	}
	.smaller {
		font-size: 15px;
	}
	/* ===================== */

	.productItem {
		height: 31.7vw;
		width: 28%;
		margin: 20px;
	}
	/* ===================== */
	.mainFooter {
		padding: 1em 0;
		flex-direction: row;
		justify-content: center;
	}
	small {
		padding-left: 30px;
		margin: auto 0;
	}

}


