main {
    width: 85vw;
    margin: 25px auto 5px auto;
}
hr {
    height: 3px;
    background-color: #3f3a3a;
}
.opt_Information {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.consumer_photo_frame {
    max-width: 200px;
    max-height: 200px;
    background: #b4aeae;
    margin-right: 20px;
    position: relative;
}
.consumer_photo_Img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.consumerInformation {
    margin-top: 20px;
}
.Ordering_Inf_div {
    display: flex;
    margin: 10px 0 0 0;
}

@media (min-width: 501px) {
    main {
        margin-top: 50px;
        width: 80%;
    }
    .consumerInformation {
        margin-top: 0;
    }
    .opt_Information {
        flex-direction: row; 
    }   
}