main {
    text-align: center;
}
.orderComplete {
    margin-top: 5px;
}
.orderConfirmed {
    max-width: 65px;
    width: 10%;
    height: auto;
    margin-top: 5vw;
}
.orderComplete {
    line-height: 1;
    font-family: NotoSansCJKtc;
  	font-size: 0.8em;
    letter-spacing: 2.4px;
  	color: #3f3a3a;
}
